:root {
  --dark-green: #065755;
  --blue-green: #2FBFBC;
  --lime-green: #B8D734;
  --light-green: #FBFFEC;
  --white: #ffffff;
  --orange: #F76C1E;
  --terracotta: #B44405;

  --mx1: 8px;
  --mx2: 16px;
  --mx3: 24px;
  --mx4: 32px;
  --mx5: 40px;
  --mx6: 48px;

  --max-width: 900px
}

body {
  font-family: 'Open Sans', sans-serif;
}
p {
  line-height: 2em;
  margin-inline: var(--mx1);
}

.logo {
  margin-inline: auto;
  margin-block: 20px;
  text-align: center;
  display: block
}

.topText {
  font-size: 24px;
  line-height: 1.25em;
  padding: var(--mx2);
  color: var(--dark-green);
  max-width: 60ch;
  margin: var(--mx4) auto var(--mx1) auto;
}
.centered {
  margin-inline: auto;
}

.grid {
  display: grid;
}

.maingrid {
  gap: var(--mx3);
  max-width: var(--max-width);
  margin: auto;
  grid-template-areas: 
    "text1"
    "aside1"
    "text2"
    "aside2"
    "text3"
    "aside3";
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

.aside3 {
  grid-area: aside3;
}

.aside {
  height: 120px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: var(--white);
  word-spacing: 9999999px;
  line-height: 1em;
  display: flex;
  align-items: end;
  position: relative;
}

.bluegreen {
  background: var(--blue-green);
}
.limegreen {
  background: var(--lime-green);
}

.darkgreen {
  background-color: var(--dark-green);
}

.bufferfly {
  position: absolute;
  right: -30px;
  transform: rotate(-30deg);
}

.pricesHolder {
  background-color: var(--light-green);
  padding-top: var(--mx1);
  margin-top: var(--mx6);
}

.prices {
  position: relative;
  max-width: var(--max-width);
  padding-bottom: var(--mx4);
  margin: 0 auto var(--mx3);
  padding-inline: var(--mx2);
}

.pricesTitle {
  padding-top: var(--mx4);
  color: var(--dark-green)
}

.cardsHolder {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mx2);
  padding-bottom: var(--mx4);
}

.card {
  color: var(--dark-green);
  background: var(--white);
  filter: drop-shadow(0px 5px 5px #C2D37F);
  padding: var(--mx2);
}

.card h3 {
  padding-inline: var(--mx1) 
}

.pricesButterfly {
  position: absolute;
  top: -50px;
  left: -20px;
}

.contactHolder {
 background-color: #f1f3fb;
}

.contact {
  position: relative;
  max-width: var(--max-width);
  padding: var(--mx4);
  margin: 0 auto var(--mx3);
  padding-inline: var(--mx2);
}

.contact h3 {
  color: var(--dark-green)
}

.contact-form {
  background: var(--white);
  border-radius: 8px;
  padding: var(--mx4)
}

@media (min-width: 750px) {
  .maingrid {
    grid-template-areas:
    "aside1 text1"
    "text2 aside2"
    "aside3 text3"
  }
  .aside {
    height: 250px;
    font-size: 40px;
  }
  .cardsHolder {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .prices {
    padding: 0;
  }
}

/* ------------------------------- *\
---------- FORM FIELDS -------------
\* --------------------------------*/

.input {
  position: relative;
  display: flex;
	flex-direction: column-reverse;
  padding-block: var(--mx2)
}

.input-label {
	color: var(--dark-green);
  font-size: 14px;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
}

.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: var(--dark-green)
}

.input-field:focus+.input-label, .input-field:valid+.input-label {
  color: var(--dark-green);
  transform: translateY(-1.5rem);
  font-size: 11px;
}

.letterCount {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 11px;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: var(--orange);
	border-radius: 6px;
	color: #FFF;
	border: 0;
}

.action-button:focus, .action-button:active {
  background-color: var(--terracotta)
}