:root {
  --dark-green: #065755;
  --blue-green: #2FBFBC;
  --lime-green: #B8D734;
  --light-green: #FBFFEC;
  --white: #ffffff;

  --mx1: 8px;
  --mx2: 16px;
  --mx3: 24px;
  --mx4: 32px;

  --max-width: 900px
}

body {
  font-family: 'Open Sans', sans-serif;
}
p {
  line-height: 2em;
  margin-inline: var(--mx1);
}

.logo {
  margin-inline: auto;
  margin-block: 20px;
  text-align: center;
  display: block
}

.topText {
  font-size: 24px;
  line-height: 1.25em;
  padding: var(--mx2) var(--mx3);
  color: var(--dark-green);
  max-width: 60ch;
  margin: var(--mx3) auto;
}
.centered {
  margin-inline: auto;
}

.grid {
  display: grid;
}

.maingrid {
  gap: var(--mx3);
  max-width: var(--max-width);
  margin: auto;
  grid-template-areas: 
    "text1"
    "aside1"
    "text2"
    "aside2"
    "text3"
    "aside3";
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

.aside3 {
  grid-area: aside3;
}

.aside {
  height: 120px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: var(--white);
  word-spacing: 9999999px;
  line-height: 1em;
  display: flex;
  align-items: end;
  position: relative;
}

.bluegreen {
  background: var(--blue-green);
}
.limegreen {
  background: var(--lime-green);
}

.darkgreen {
  background-color: var(--dark-green);
}

.bufferfly {
  position: absolute;
  right: -30px;
  transform: rotate(-30deg);
}

.pricesHolder {
  background-color: var(--light-green);
  padding-top: var(--mx1);
}

.prices {
  position: relative;
  max-width: var(--max-width);
  padding-bottom: var(--mx4);
  margin: 0 auto var(--mx3);
  padding-inline: var(--mx2);
}

.pricesTitle {
  padding-top: var(--mx3);
  color: var(--dark-green)
}

.cardsHolder {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mx2)
}

.card {
  color: var(--dark-green);
  background: var(--white);
  filter: drop-shadow(0px 5px 5px #C2D37F);
  padding: var(--mx2);
}

.pricesButterfly {
  position: absolute;
  top: -50px;
  left: -20px;
}

@media (min-width: 750px) {
  .maingrid {
    grid-template-areas:
    "aside1 text1"
    "text2 aside2"
    "aside3 text3"
  }
  .aside {
    height: 250px;
    font-size: 40px;
  }
  .cardsHolder {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .prices {
    padding: 0;
  }
}